.MyCarousel{
    height: 217px;
    background: palevioletred;
}
.img1{
    height: 115px;
    background: palegoldenrod;
}
.homeClass{
    height: 163px;
    background: aqua;
}
.yCarousel{
    height: 33px;
    background: yellow;
}
.img2{
    height: 217px;
    background: peru;
}
.sing{
    height: 211px;
    background: gold;
}